/* =~= font declaration =~= */
$staticFolder: '/fonts/';
/* cpmono_v07-light */
@font-face {
	font-family: CPMono_v07;
	font-style: normal;
	font-weight: 300;
	src: local('CPMono_v07 Light'), local('CPMono_v07Light'),
		url($staticFolder + 'cpmono_v07-light.woff2') format('woff2');
}
/* hacked */
/* @font-face {
	font-family: HACKED;
	font-style: normal;
	font-weight: 400;
	src: local("HACKED"), url($staticFolder + 'hacked.woff2') format("woff2");
} */
/* helvetica-neue-medium */
@font-face {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	src: local('Helvetica Neue Medium'), local('HelveticaNeue-Medium'),
		url($staticFolder + 'helvetica-neue-medium.woff2') format('woff2');
}
/* helvetica-neue-light */
@font-face {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'),
		url($staticFolder + 'helvetica-neue-light.woff2') format('woff2');
}
/* montserrat-bold */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url($staticFolder + 'montserrat-bold.woff2') format('woff2');
}
/* source-sans-3-light-italic */
// @font-face {
// 	font-family: 'Source Sans 3';
// 	font-style: italic;
// 	font-weight: 300;
// 	src: local("Source Sans 3 Light Italic"), local("SourceSans3-LightItalic"), url($staticFolder + 'source-sans-3-light-italic.woff2') format("woff2");
// }
/* source-sans-3-light */
@font-face {
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans 3 Light'), local('SourceSans3-Light'),
		url($staticFolder + 'source-sans-3-light.woff2') format('woff2');
}
/* source-sans-3-italic */
@font-face {
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 400;
	src: local('Source Sans 3 Italic'), local('SourceSans3-Italic'),
		url($staticFolder + 'source-sans-3-italic.woff2') format('woff2');
}
/* source-sans-3-regular */
@font-face {
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans 3 Regular'), local('SourceSans3-Regular'),
		url($staticFolder + 'source-sans-3-regular.woff2') format('woff2');
}
/* ubuntu-mono */
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
		url($staticFolder + 'ubuntu-mono.woff2') format('woff2');
}
