@use './theme.scss' as th;
@use './font.scss' as f;
@use './viewWidth.scss' as vw;

// HELLO BIG HEADS
main>div>.content-section:first-child {
    background: linear-gradient(180deg, th.$color-completelyblack, th.$color-surface, th.$color-surface);

    &#hello-heads {
        height: calc(100vh - clamp(51px, 2vh, 50vh));

        position: relative;
    }

    /* div.canva-container {
        
        // left: 0;

        width: 100%;
        height: 100%;
        max-width: 90vw; */

    &#hello-heads>canvas {
        max-width: 100% !important;
        // width: 100% !important;
        // height: 100% !important;
        // height: fit-content;

        position: absolute;
        top: 0;


        pointer-events: none;
        touch-action: none;
    }

    // }

    &#hello-heads p {
        position: absolute;
        top: 50%;
        left: 50%;

        font: f.$title;
        color: th.$font-color-on-surface;

        text-transform: uppercase;
        text-shadow: 0 0 10px th.$color-surface;

        transform: translate(-50%, -50%);
    }
}

main {
    .content-section {
        $padding-top: th.$gap-huge;
        // padding: $padding-top 0 ($padding-top * 2) 0;
        padding: $padding-top 0 $padding-top 0;

        // REMOVEME
        font-size: x-large;

        &>* {
            max-width: min(calc(100% - th.$gap-big), 28.5cm);
        }

        @media only screen and (max-width: vw.$screen-small) {
            $padding-top: 10vh;
            padding: $padding-top 0 ($padding-top * 2) 0;
        }
    }
}

// DEV
.tp-dfwv {
    transform: translateY(100px);
}