/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use './styles/fontFace.scss';
@use './styles/fontSize.scss';

html,
body {
	padding: 0;
	margin: 0;

	width: 100dvw;
}

body,
body :is(*, *:before, *:after) {
	box-sizing: border-box;
}

body {
	background-color: $color-surface;
}



/* Other */
// Visually hidden
// source : https://svelte.dev/repl/c862d964d48d473ca63ab91709a0a5a0?version=3.23.2
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}